@media only screen and (max-width: 625px){
body {
  overflow: scroll;
}  
  
header {
  position: relative;
  height: auto;
}
footer {
  position: relative;
}
.wbody {
  height: auto;
}
.myFeed {
  height: auto;
}

.feed {
  height: auto;
}
.openOv {
  display: none;
}
.mblock a {
  font-size: 8vmin;
  width: 8vmin;
  height: auto;
  padding: 0;
}
.menu {
  display: none;
}
          
}